alembic==1.0.0
banal==0.3.7
certifi==2018.8.24
chardet==3.0.4
dataset==1.1.0
idna==2.7
Mako==1.2.2
MarkupSafe==1.0
normality==0.6.1
pyTelegramBotAPI==3.6.6
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.7.0
six==1.11.0
SQLAlchemy==1.2.11
telebot==0.0.3
urllib3==1.23
virtualenv==16.0.0
